{% extends 'layout.html' %}
{% load static %}

{% block titulo %}Painel do Administrador - SGA{% endblock %}

{% block conteudo %}
    <img src="{% static 'image/logo.png' %}" alt="Logo do Instituto">
    <h1>Bem-vindo, {{ request.user }}!</h1>
    <div>
        <a href="{% url 'cadastrar_funcionario' %}" class="botao-funcao">Cadastrar Funcionário</a>
        <a href="{% url 'lista_funcionarios' %}" class="botao-funcao">Lista de Funcionários</a>
        <a href="{% url 'relatorio_logins' %}" class="botao-funcao">Relatório de Login</a>
    </div>
{% endblock %}
